<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Day 1</title>
    <link rel="stylesheet" href="asset/css/css/style_web.css">
    <link rel="stylesheet" href="asset/fontAwesome/fontawesome-free-6.5.1-web/css/all.min.css">
    <link rel="stylesheet" href="asset/css/css/styleBootstrap.css">
    {{!-- <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); * {
      font-family: 'Poppins', sans-serif; } .btn-primary { background-color:
      orangered !important; } .btn-primary:hover { background-color: orangered
      !important; } .active { color: orangered !important; font-weight: bold; }
    </style> --}}
</head>

<body>
    <nav>
        <div class="left">
          <ul>
            <img src="asset/css/Gambar/download (1).png" alt="logo-image" />
    
            <li>
              <a href="/home" class="nav-items">Home</a>
            </li>
            <li class="active">
              <a href="/myProject" class="nav-items">My Project</a>
            </li>
            <li>
              <a href="/AddProject" class="nav-items">Add Project</a>
            </li>
            <li>
              <a href="/testimoni" class="nav-items">Testomonial</a>
            </li>
          </ul>
        </div>
    
        <div class="right nav-items">
          <a href="">Contact Me</a>
        </div>
        <div class="bars-item">
          <button 
            style="background-color: transparent; border: none; cursor: pointer"
            onclick = "openHamburger()"
          >
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </nav>

<div class="tai">
  <div class="w-100 d-flex justify-content-end mb-3">
        <a href="AddProject" class="btn btn-primary">Add New Blog</a>
      </div>
    <div class="container">
      {{#each datas}}
    <div class="projectList" id="addProject">
      <div class="project-list-item">
        <img src="asset/css/Gambar/projectGambar.jpg" alt="" class="projectImage">
        <div>
          <h1>
            <a href="project-detail/{{@index}}">{{this.project}}</a>
          </h1>
        </div>
        <div>
          Durasi : {{this.diff}}
        </div>
        <div>
          <p class="paragraf">
            {{this.description}}
          </p>
        </div>
        <div>
          {{#if this.react}}
          <i class="fa-brands fa-node-js"></i>
          {{/if}}
          {{#if this.next}}
          <i class="fa-brands fa-js"></i>
          {{/if}}
          {{#if this.react}}
          <i class="fa-brands fa-react"></i>
          {{/if}}
          {{#if this.golang}}
          <i class="fa-brands fa-golang"></i>
          {{/if}}
        </div>
        <div class="buttonProject">
          <a class="buttom-group" href="/project_edit/{{@index}}">Edit</a>
          <a class="buttom-group" href="/deleteProject/{{@index}}">Delete</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>
</html>